<mat-card>
    <mat-card-title>Prevenções</mat-card-title>
    <p>Entre os hábitos de vida, a alimentação ocupa um papel de destaque no tratamento e na prevenção da hipertensão arterial sistêmica.
    Uma alimentação inadequada está associada de forma indireta a um maior risco de desenvolvimento de problemas no coração,
    podendo também predispor a outros fatores de risco como obesidade e dislipidemia (aumento do colesterol e/ou dos triglicerídeos).
    Várias modificações dietéticas demonstram benefícios sobre a pressão arterial, como a redução da ingestão de sal e álcool
    e a redução do peso. Algumas orientações nutricionais bastante práticas podem ser fornecidas ao paciente hipertenso ou
    com pressão arterial limítrofe (em risco para desenvolver hipertensão). São elas (2,3,5):
    <br><br>
    <b> 1.</b>Procurar usar o mínimo de
    sal no preparo dos alimentos. Recomenda-se para indivíduos hipertensos 4 g de sal por dia (o equivalente a uma colher de
    chá), considerando todas as refeições (Grau de recomendação B).
    <br> <br>
    2. Para não exagerar no consumo de sal, evitar deixar o
    saleiro na mesa. A comida já contém o sal necessário!
    <br> <br>3. Ler sempre o rótulo dos alimentos industrializados antes de comprá-los,
    atentando para a quantidade de sódio presente (limite diário: 2.000 mg de sódio).
    <br> <br>4. No preparo das refeições, procurar
    usar temperos naturais como alho, cebola, limão, cebolinha, salsinha, açafrão, coentro, orégano, manjericão, coentro, cominho,
    páprica, sálvia, entre outros. O uso desses temperos naturais realça o gosto dos alimentos e ajudam a reduzir o uso de
    sal. Evitar o uso de temperos prontos, como caldos de carnes e de legumes, pois estes contêm muito sódio. Atenção também
    para o aditivo glutamato monossódico, utilizado em alguns condimentos e nas sopas industrializadas, pois esses alimentos,
    em geral, também são ricos em sódio, e devem ser evitados.
    <br> <br>5. Alimentos industrializados, como macarrão instantâneo (o
    popular “miojo”), embutidos (salsicha, salame, presunto, linguiça e hambúrguer), enlatados/em conserva (milho, palmito,
    ervilha, azeitona etc.), molhos (ketchup, mostarda, maionese etc.) e carnes salgadas (bacalhau, charque, carne seca e defumados)
    devem ser evitados, porque são ricos em gordura e sal. Se consumidos, o ideal é que seja em pequenas quantidades, como
    ingredientes de preparações culinárias ou como parte de refeições baseadas em alimentos in natura ou minimamente processados.
    <br> <br>6. Diminuir o consumo de gordura. Usar óleo vegetal com moderação e dar preferência a alimentos cozidos, assados e/ou grelhados.
    Óleos vegetais (como os de soja, milho, girassol ou oliva) e gorduras (como a manteiga e a gordura de coco) são produtos
    alimentícios que contêm elevada quantidade de calorias, além de serem ricos em gorduras saturadas. Quando utilizados com
    moderação e apropriadamente combinados com alimentos in natura ou minimamente processados, permitem a criação de preparações
    culinárias variadas, saborosas e ainda nutricionalmente balanceadas.
    <br> <br>7. Procurar evitar a ingestão excessiva de bebidas
    alcoólicas e o uso de cigarros, pois eles contribuem para a elevação da pressão arterial. O fumo é um importante fator
    de risco para o desenvolvimento de doenças do coração, e no caso de pacientes hipertensos, o cigarro aumenta a resistência
    às medicações anti-hipertensivas, fazendo com que elas funcionem menos que o esperado. O hábito de fumar está relacionado
    com várias doenças: 30% de todos os casos de câncer (boca e cavidade oral, faringe, esôfago, estômago, pâncreas,
    intestino, reto, fígado e vias biliares, rins, bexiga, colo de útero, vulva), 90% dos casos de câncer de pulmão, 75%
    dos casos de bronquite crônica e enfisema pulmonar, 25% dos casos de doenças cardíacas e cerebrovasculares (infartos e
    acidentes vasculares cerebrais).
    <br> <br>8. Consumir diariamente pelo menos três porções de frutas e hortaliças (uma porção = 1
    laranja média, 1 maçã média ou 1 fatia média de abacaxi). Dar preferência a alimentos integrais como pães, cereais e massas
    (em relação aos pães e massas de “farinha branca”), pois são ricos em fibras, vitaminas e minerais.
    <br> <br>9. Procurar fazer atividade
    física. A atividade física auxilia no controle dos níveis de pressão arterial, glicemia e na manutenção do peso corporal.
    Deve ser praticada, idealmente, por 30 minutos diários.
    <br> <br>10. Manter o seu peso saudável, pois seu excesso contribui para
    o desenvolvimento da hipertensão arterial. A diminuição de 5% – 10% do peso corporal inicial já é suficiente para reduzir
    a pressão arterial (Grau de Recomendação A).</p>
  </mat-card>