<mat-card class="container">
  <mat-card-title>Receitas</mat-card-title>
  <mat-card>
    <p>Peixe Grelhado com Alecrim
      <br>
      <br> Ingredientes:
      <br> 1 Kg de Filé de peixe
      <br> 1 col. sopa rasa de Alecrim fresco
      <br> 20 col. sopa cheia de Farinha de trigo
      <br> 1 e ½ col. de sopa de Margarina s/ sal
      <br> 5 Limões
      <br>
      <br> Modo de preparo:
      <br> Temperar o peixe c/ limão. Reservar. Em um prato, misturar a farinha e o alecrim. Passar o peixe nessa mistura e grelhar.
    </p>
  </mat-card>
  <br>
  <mat-card>
    <p>Arroz com curry e maçã ralada
      <br>
      <br> Ingredientes:
      <br> Arroz cozido 600g
      <br> Curry 10g
      <br> Maçã 150g
      <br> Óleo de soja 50ml
      <br> Água 700ml
      <br>
      <br> Modo de Preparo:
      <br> Preparar o arroz com óleo e água. Acrescentar pó de curry. Misturar maçãs picadas.</p>
  </mat-card>
  <br>
  <mat-card>
    <p>
      Sobremesa à base de frutas da estação: Taça de Frutas e Flores
      <br>
      <br> Ingredientes:
      <br> 60g de morangos
      <br> 60g de kiwi
      <br> 60g de manga
      <br> 30g de maracujá com semente
      <br> 25g de açúcar refinado
      <br> 20g de iogurte desnatado
      <br> Flores para decorar.
      <br>
      <br> Modo de Preparo:
      <br> Lavar os morangos, manga e descascar o kiwi. Cortar a metade em cubinhos. Colocar na taça. Mistura ao iogurte o açúcar
      e adicionar por cima das frutas picadas. Dispor por cima do creme pedaços das frutas e regar com suco de maracujá com
      as sementes e açúcar. Decorar.</p>
  </mat-card>
</mat-card>
