/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

mat-icon {
    vertical-align: middle;
}

mat-icon {
    vertical-align: middle;
}

mat-form-field {
    width: 100%;
    margin-inline-end: 1em;
}

video {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.container {
    margin: 2%;
}

.error {
    color: rgb(187, 16, 16);
}

.pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

@media screen and (max-width:960px){
	.flex {
        display: block;
    }
}